 <!-- Bottom Nav-->
  <footer>
<nav class="navbar fixed-bottom navbar-custom navbar-expand-zsm">
      <b class="navbar-brand" href="#">&copy Copyright 2021 all rights reserved</b>
    </nav>
  </footer>